header {
    padding: 120px 0px 0px 200px;
}
header h1 {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 64px;
    color: #060A24;
    font-weight: 400;
    margin: 0px;
    text-align: left;
    line-height: 84px;
    letter-spacing: 0;
}

.tachado {
    font-family: "IBM Plex Sans", sans-serif;
    color: #060A24;
    font-weight: 400;
    text-decoration: line-through;
    letter-spacing: 0;
}

.punto {
    font-family: "IBM Plex Sans", sans-serif;   
    color: #0000EC;
    font-weight: 400;
}

header p {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 16px;
    width: 628px;
    line-height: 24px;
    color: #060A24;
    letter-spacing: 0;
}

header button {
    height: 56px;
    width: 226px;
    margin-top: 56px;
    margin-bottom: 5px;
    background-color: #00F3BB;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 18px;
    color: #060A24;
    letter-spacing: 0;
    text-align: center;
    line-height: 24px;
    border: none;
}

header button:hover {
    background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
    color: #fff;
    cursor: pointer;
}

@media screen and (max-width: 1199px) {
    header {
        padding: 100px 0px 0px 100px;
        margin: 0px;
    }
}

@media screen and (max-width: 999px) {
    header {
        padding: 100px 0px 0px 16px;
        margin: 0px;
    }
}

@media screen and (max-width: 750px) {
    header {
        position: relative;
        z-index: 1;
        top: 80px;
        padding: 0;
        margin: 0px 16px 0px;
    }
    header h1 {
        margin: 0px;
        padding: 0px;
        font-size: 36px;
        line-height: 42px;
    }
    
    header p {
        font-size: 14px;
        width: 100%;
        margin-top: 16px;
    }
    
    header button {
        height: 48px;
        width: 100%;
        margin-top: 36px;
        margin-bottom: 24px;
        font-size: 16px;
        line-height: 22px;
    }
}

@media screen and (max-width: 500px) {
    header {
        position: relative;
        z-index: 1;
        top: 73px;
        padding: 0;
        margin: 0px 16px 0px;
    }
    header h1 {
        margin: 0px;
        padding: 0px;
        font-size: 36px;
        line-height: 42px;
    }
    
    header p {
        font-size: 14px;
        width: 100%;
        margin-top: 16px;
    }
    
    header button {
        height: 48px;
        width: 100%;
        margin-top: 36px;
        margin-bottom: 24px;
        font-size: 16px;
        line-height: 22px;
    }
}

